#product-overview {
  background: #ff1b68;
  /* font-family: "Roboto", sans-serif; */
}

/* section h1:first-child {
  background: blue;
  color: pink;
} */

/* Browser settings used set for each font-family */
h1 {
  color: white;
  /* font-family: serif; */ /* Times */
  /* font-family: monospace; */ /* ie Fixed-width font (aka monospace font family) - Courier*/
  /* font-family: sans-serif; */ /* Helvetica */

  font-family: "Anton", sans-serif;
}

.section-title {
  color: #2ddf5c;
}

/* Attribute selector */
[disabled] {
  color: blueviolet;
}
