body {
  font-family: "Montserrat", sans-serif;
}

#product-overview {
  background: #ff1b68;
}

.section-title {
  color: #2ddf5c;
}

/* combinators: adjacent sibling +, general sibling ~, child >, descendant space*/
#product-overview h1 {
  color: #fff;
  font-family: "Anton", sans-serif;
}
