body {
  font-family: sans-serif;
}

nav {
  margin-bottom: 16px;
  background: #fa923f;
  padding: 8px;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

/* a.active.thirdClass {
  color: #521751;
} */

a.active {
  color: #521751;
}

a:not(.active) {
  color: blue;
}

a#someId {
  color: darkgreen;
}

.main-section {
  height: 800px;
  border: 1px solid #ccc !important;
  padding: 16px;
}

section.highlighted {
  border: 2px dotted #fa923f;
}
